USE [RehabDB]
GO
/****** Object:  Table [dbo].[SensorData]    Script Date: 6/14/2026 9:04:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensorData](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Angle] [float] NOT NULL,
	[ForceWeight] [float] NOT NULL,
	[RecordTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingSessions]    Script Date: 6/14/2026 9:04:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingSessions](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[TotalReps] [int] NULL,
	[PeakROM] [float] NULL,
	[AvgROM] [float] NULL,
	[ChartDataJson] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/14/2026 9:04:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientCode] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Age] [int] NULL,
	[Gender] [nvarchar](20) NULL,
	[Height] [float] NULL,
	[Weight] [float] NULL,
	[Injury] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SensorData] ADD  DEFAULT (getdate()) FOR [RecordTime]
GO
ALTER TABLE [dbo].[TrainingSessions] ADD  DEFAULT ((0)) FOR [TotalReps]
GO
ALTER TABLE [dbo].[TrainingSessions] ADD  DEFAULT ((0)) FOR [PeakROM]
GO
ALTER TABLE [dbo].[TrainingSessions] ADD  DEFAULT ((0)) FOR [AvgROM]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SensorData]  WITH CHECK ADD  CONSTRAINT [FK_SensorData_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SensorData] CHECK CONSTRAINT [FK_SensorData_Users]
GO
